@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    margin: 0 auto;
    width: clamp(640px, 100%, 1080px);
}

fieldset {
    margin-top: 30px;
    border: solid 2px #222;
    background-color: #ffe;
    padding: 20px;
    border-radius: 2px;
}

fieldset legend {
    color: #222;
    font-weight: bold;
    padding: 2px 14px;
    border: solid 1px #222;
}

fieldset button {
    border: none;
    background-color: #222;
    color: #fff;
    padding: 8px 12px;
}
