<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HOME PANEL | GTI</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h2>FORMULARIOS PARA TESTE DE APLICAÇÃO</h2>

            <fieldset>
                <legend>CADASTRANDO NOVO SETOR #01</legend>
                <button type="submit">CADASTRAR</button>
            </fieldset>

            <fieldset>
                <legend>CADASTRANDO NOVO USUARIO #02</legend>
                <button type="submit">CADASTRAR</button>
            </fieldset>

            <fieldset>
                <legend>CADASTRANDO NOVA MAQUINA #03</legend>
                <button type="submit">CADASTRAR</button>
            </fieldset>

            <fieldset>
                <legend>CRIAR NOVO EVENTO #04</legend>
                <button type="submit">CRIAR</button>
            </fieldset>
        </div>
        <!--class.container-->
    </body>
</html>
